/** @format */

.nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
  background-color: white;
  padding: 32px;
}
.nav .active {
  font-weight: 800;
}
.nav a {
  color: black;
  text-decoration: none;
}
